.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

.tmp/

jenkins-service-account.yaml
kubernetes-service-account-secret
vault-root
vault.txt
api-values.yaml